#container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  gap: 25px 50px;
}
.div{
  background-color: azure;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  width: 5vw;
  height: 5vw;
}
.div:hover{
  background-color: blue;
}

body {
  background: grey;
}
.btn{
    border: none;
    background-color: #04AA6D;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
